<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
	   xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:context="http://www.springframework.org/schema/context" 
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	   http://www.springframework.org/schema/context 
	   http://www.springframework.org/schema/context/spring-context-4.0.xsd
	   ">
	<beans default-init-method="init" default-destroy-method="destory">
		<bean id="BeanFactoryPostProcessorImpl" class="flycat.domain.BeanFactoryPostProcessorImpl">

		</bean>
		<bean id="BeanPostProcessorImpl" class="flycat.domain.BeanPostProcessorImpl">

		</bean>

		<bean id="DemoBean1" class="flycat.domain.DemoBean1" >

		</bean>
		<bean id="DemoBean2" class="flycat.domain.DemoBean2" >
			<property name="name" value="${bean2-name-val}"></property>

		</bean>
		<bean id="FactoryBeanImpl" class="flycat.domain.FactoryBeanImpl" >

		</bean>
	</beans>
	<!--<context:component-scan base-package="flycat">

	</context:component-scan>-->
</beans>
