<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
	   xmlns="http://www.springframework.org/schema/beans" 
	   xmlns:context="http://www.springframework.org/schema/context" 
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
	   http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
	   http://www.springframework.org/schema/context 
	   http://www.springframework.org/schema/context/spring-context-4.0.xsd
	   ">
	<beans default-init-method="init" default-destroy-method="destory">
		<bean id="DemoBean1" class="flycat.domain.DemoBean1" >

		</bean>
		<bean id="smartLifecycle"  class="flycat.domain.SmartLifecycleImpl">

		</bean>
		<bean id="smartLifecycle2"  class="flycat.domain.SmartLifecycleImpl2">

		</bean>
		<bean id="smartLifecycle3"  class="flycat.domain.SmartLifecycleImpl3">

		</bean>

	</beans>
	<!--<context:component-scan base-package="flycat" >

	</context:component-scan>	-->
</beans>
